html, body {
     height: 99%; 
    }
.p{
    width: 60px;
    position: absolute;
    left: 10px;
}
.akrm{
    display: none;
}
.t{
    width: 90px;
    position: absolute;
    left: 80px;
}
.ts{
    width: 90px;
    position: absolute;
    left: 180px;
}
.pri{
    width: 90px;
    position: absolute;
    left: 280px;
}
.form{
    color: #00ADB5;
    background-color: #393E46;
    
    border: 5px solid;
    position: absolute;
    padding: 10px;
    top: 50%;
    transform: translate(0, -50%);
    left: 25%;
    text-align: center;
}
.in{
    color: #00ADB5;
}